body {
    background-color: #333333;
    margin: 0;
    height: 2000px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#contacts {
    /*background-color: green;*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
}
#contacts a {
    display: block;
    background-color: aquamarine;
    margin: 10px;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 100%;
    position: relative;
    top: 180px;
    transition: 0.5s;
}
#contacts a:hover {
    background-color: cadetblue;
}
#contacts:target a {
    top: 0px;
}
#contacts a img {
    width: 100%;
}
#contacts-rings {
    /*background-color: blue;*/
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: -1;
    bottom: 40px;
    right: 40px;
}
#contacts-rings div {
    width: inherit;
    height: inherit;
    /*background: #000;*/
    border: 0.5px solid aquamarine;
    position: absolute;
    border-radius: 100%;

    animation: ring 5s infinite;
    /*margin-top: -1px;
    margin-left: -1px;*/
}

#contacts-rings div:nth-child(2) {
    animation-delay: 2s;
}
#contacts-rings div:nth-child(3) {
    animation-delay: 4s;
}
#contacts:target + #contacts-rings div {
    animation: none;
    display: none;
}
@keyframes ring {
    from { transform: scale(1.0); opacity: 1; }
    to { transform: scale(3.0); opacity: 0; }
}
